{
  "pid": "bw.application.test.poc.customer.application_1.0",
  "properties": {
    "\/\/test.poc.sharedLib\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/test.poc.sharedLib\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/test.poc.customer\/\/BW.HOST.NAME": {
      "name": ".type.\/\/test.poc.customer\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/test.poc.customer\/\/BW.DOMAIN.NAME": {
      "name": "\/\/test.poc.customer\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/test.poc.sharedLib\/\/BW.APPNODE.NAME": {
      "name": "\/\/test.poc.sharedLib\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/test.poc.sharedLib\/\/BW.HOST.NAME": {
      "name": "\/\/test.poc.sharedLib\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    ".type.\/\/test.poc.customer\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/test.poc.customer\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/test.poc.customer\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/test.poc.customer\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/test.poc.customer\/\/BW.MODULE.NAME": {
      "name": "\/\/test.poc.customer\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/test.poc.sharedLib\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/test.poc.sharedLib\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/test.poc.sharedLib\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/test.poc.sharedLib\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/test.poc.customer\/\/BW.APPNODE.NAME": {
      "name": "\/\/test.poc.customer\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/test.poc.customer\/\/BW.MODULE.VERSION": {
      "name": "\/\/test.poc.customer\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/test.poc.sharedLib\/\/BW.HOST.NAME": {
      "name": ".type.\/\/test.poc.sharedLib\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/test.poc.customer\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/test.poc.customer\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/test.poc.sharedLib\/\/Property": {
      "name": "\/\/test.poc.sharedLib\/\/Property",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/test.poc.sharedLib\/\/BW.MODULE.NAME": {
      "name": "\/\/test.poc.sharedLib\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/test.poc.sharedLib\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/test.poc.sharedLib\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "test.poc.customer.application",
      "type": "java.lang.String"
    },
    "\/\/test.poc.sharedLib\/\/BW.APPSPACE.NAME": {
      "name": "\/\/test.poc.sharedLib\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/test.poc.customer\/\/BW.APPSPACE.NAME": {
      "name": "\/\/test.poc.customer\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/test.poc.sharedLib\/\/Property1": {
      "name": "\/\/test.poc.sharedLib\/\/Property1",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/test.poc.customer\/\/BW.HOST.NAME": {
      "name": "\/\/test.poc.customer\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    ".type.\/\/test.poc.customer\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/test.poc.customer\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/test.poc.sharedLib\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/test.poc.sharedLib\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".module.name": {
      "name": ".module.name",
      "value": "test.poc.customer.application",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    ".type.\/\/test.poc.sharedLib\/\/Property": {
      "name": ".type.\/\/test.poc.sharedLib\/\/Property",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JMSConnectionFactory",
      "type": "java.lang.String"
    },
    ".type.\/\/test.poc.sharedLib\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/test.poc.sharedLib\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/test.poc.sharedLib\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/test.poc.sharedLib\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/test.poc.customer\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/test.poc.customer\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/test.poc.customer\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/test.poc.customer\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.application.test.poc.customer.application_1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/test.poc.customer\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/test.poc.customer\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/test.poc.customer\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/test.poc.customer\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/test.poc.customer\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/test.poc.customer\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/test.poc.customer\/\/Port": {
      "name": ".type.\/\/test.poc.customer\/\/Port",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    ".type.\/\/test.poc.sharedLib\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/test.poc.sharedLib\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/test.poc.sharedLib\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/test.poc.sharedLib\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/test.poc.sharedLib\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/test.poc.sharedLib\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/test.poc.customer\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/test.poc.customer\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".module.version": {
      "name": ".module.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    "\/\/test.poc.sharedLib\/\/BW.DOMAIN.NAME": {
      "name": "\/\/test.poc.sharedLib\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/test.poc.sharedLib\/\/BW.MODULE.VERSION": {
      "name": "\/\/test.poc.sharedLib\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/test.poc.sharedLib\/\/Property1": {
      "name": ".type.\/\/test.poc.sharedLib\/\/Property1",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JMSConnectionFactory",
      "type": "java.lang.String"
    },
    ".type.\/\/test.poc.sharedLib\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/test.poc.sharedLib\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/test.poc.customer\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/test.poc.customer\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/test.poc.customer\/\/Port": {
      "name": "\/\/test.poc.customer\/\/Port",
      "value": "8001",
      "type": "java.lang.String"
    }
  }
}