{
  "pid": "com.tibco.bw.stat.appnode.1fdde3b5-8b7b-4f19-98f1-8d74d829cd66",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.1fdde3b5-8b7b-4f19-98f1-8d74d829cd66",
      "type": "java.lang.String"
    }
  }
}